<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocX" version="1.6.0" targetFramework="net48" />
  <package id="GemBox.Document" version="31.0.1197" targetFramework="net48" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net48" />
  <package id="LiveCharts.WinForms" version="0.9.7.1" targetFramework="net48" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net48" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net48" />
  <package id="Spire.Doc" version="8.5.8" targetFramework="net48" />
</packages>